.beneficios__imagem {
    box-shadow: 10px 10px 10px 0 #000000;
    opacity: 1;
    transition: 400ms;
    width: 60%;
}

.beneficios__imagem:hover {
    opacity: 0.3;
}

@media screen and (max-width: 1007px) {
    .beneficios__imagem {
        margin: 1rem 1rem;
        width: 90%;
    }
}
