.beneficios__titulo {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}

@media screen and (max-width: 1007px) {
    .beneficios__titulo {
        font-size: 1.5rem;
    }
}
