.formulario {
    margin: 40px 0;
}

@media screen and (max-width: 1007px) {
    .formulario {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        padding: 0 1rem;
    }    
}
