.formulario__etiqueta {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

@media screen and (max-width: 1007px) {
    .formulario__etiqueta {
        margin-bottom: 20px;
        margin-top: 10px;
    }    
}
