.produto__imagem {
    width: 238px;
}

@media screen and (max-width: 1007px) {
    .produto__imagem {
        margin: 0 auto;
        max-height: 50%;
        position: relative;
        max-width: 100%;
    }    
}
