.produto {
    border: 2px solid #000000;
    border-radius: 10px;
    box-sizing: border-box;
    display: inline-block;
    margin: 0 1.5%;
    padding: 30px 20px;
    text-align: center;
    vertical-align: top;
    width: 30%;
}

.produto:hover {
    border-color: #c78c19;
}

.produto:active {
    border-color: #088c19;
}

.produto:hover .produto__titulo {
    font-size: 34px;
}
