.produto__preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

@media screen and (max-width: 1007px) {
    .produto__preco {
        margin-top: 0;
        position: relative;
    }    
}
