.sobre {
    background: #FEFEFE;
    margin: 0 auto;
    padding: 3em 0;
    width: 940px;
}

@media screen and (max-width: 1007px) {
    .sobre{
        padding: 5rem 1rem;
        width: auto;
    }
}
